<div id="container">
  <span><ng-content></ng-content></span>
  <form (ngSubmit)="onClickSubmit()">
    <label for="email">Email</label>
    <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="Email"><br>

    <label for="password">Password</label>
    <input type="password" [(ngModel)]="hashedPassword" name="password" class="form-control" placeholder="Password"><br>

    <div id="submit-buttons">
      <button type="submit" class="btn btn-primary">Login</button> 
      <a class="btn btn-secondary" href="/register">Sign Up</a>
    </div>
  </form>
</div>
