<div id="container">
    <div id="job-content" *ngFor="let jobPosting of job" >
        <span id="job-title">{{ jobPosting.jobTitle }}</span>
        <div id="hr"></div>
        <span id="location">{{ jobPosting.location }}</span>
    </div>
    <div id="application-details" *ngFor="let jobPosting of job">
        <span id="date-posted">{{ jobPosting.createDate }}</span>
        
          <button (click)="sidebarService.show()">Apply</button>
        
    </div>
    <div *ngFor="let jobPosting of job">
    @if (sidebarService.visible) {
     
      <app-sidebar>  <h1>Description</h1> 
        
        {{jobPosting.jobDescription}}

        <h1>Qualifications</h1> 

        {{jobPosting.jobRequirements}} <br>
      
      </app-sidebar>
    }
  </div>
</div>
