
<div id="container">
  <div id="photos">
    <div class="founders">
      <img src="../../../assets/Grant.jpg" alt="Grant Trotman">
      <span>Grant Trotman</span>
    </div>
    <div class="founders">
      <img src="../../../assets/Moe.jpg" alt="Moe Elarbi">
      <span>Moe Elarbi</span>
    </div>
    <div class="founders">
      <img src="../../../assets/Naveen.jpeg" alt="Naveen Suresh">
      <span>Naveen Suresh</span>
    </div>
    <div class="founders">
      <img src="../../../assets/Luke.jpg" alt="Luke Thacker">
      <span>Luke Thacker</span>
    </div>
  </div>
  <div id="content">
    <h1>About us</h1>
    <span>
      This is where we would write about ourselves.
    </span>
  </div>
</div>


