$red: #FD1F4A;
$yellow: #FBBD0D;
$black: #2D2C2E;
$white: #FAF5E6;

* {
  color: $white;
}

#photos {
  display: flex;
  flex-flow: row;
  margin-top: 27px;
}

.founders {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
}

img {
  border-radius: 100%;
  width: 174px;
  height: 174px;
  object-fit: cover;
}

#content {
  margin: 42px;
}