
<div id="container">
  <div id="photos">
    <div class="founders">
      <img src="../../../assets/Grant.jpg" alt="Grant Trotman">
      <span>Grant Trotman</span>
      <p>Founder/CEO</p>
    </div>
    <div class="founders">
      <img src="../../../assets/Moe.jpg" alt="Moe Elarbi">
      <span>Moe Elarbi</span>
      <p>Co-Founder/Senior Software Engineer</p>
    </div>
    <div class="founders">
      <img src="../../../assets/Naveen.jpeg" alt="Naveen Suresh">
      <span>Naveen Suresh</span>
      <p>Product Manager</p>
    </div>
    <div class="founders">
      <img src="../../../assets/Luke.jpg" alt="Luke Thacker">
      <span>Luke Thacker</span>
      <p>Software Engineer</p>
    </div>
  </div>
  <div id="content">
    <h1>About us</h1>
    <span>
      At TEST Software Solutions, we're on a mission to revolutionize the way people interact with technology. Founded in [Year], we are a passionate team of innovators, engineers, and designers dedicated to creating cutting-edge solutions that make life easier and more enjoyable for everyone.

Our journey began with a simple idea: to harness the power of technology to solve everyday problems. Since then, we've grown into a dynamic startup with a focus on [briefly mention your main product/service or industry niche]. Whether it's developing intuitive mobile apps, designing sleek hardware, or crafting powerful software solutions, we're committed to pushing the boundaries of what's possible.

What sets us apart is our unwavering dedication to quality, creativity, and user-centric design. We believe that great technology should be accessible to all, which is why we prioritize simplicity, elegance, and ease of use in everything we create.

But we're more than just a tech company – we're a community. We thrive on collaboration, curiosity, and a shared passion for innovation. From brainstorming sessions to late-night coding marathons, our team works tirelessly to bring our ideas to life and deliver exceptional experiences to our customers.

As we continue to grow and evolve, our commitment to excellence remains unchanged. Whether you're a startup founder, a small business owner, or an everyday user, we invite you to join us on our journey to shape the future of technology
    </span>
  </div>
</div>


